*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  
  @media screen and (max-width: 620px) {
    html, body {
      font-size: 45%;
    }
  }
  @media screen and (max-width: 480px) {
    html, body {
      font-size: 70%;
    }
  }
  
  .forhtml {
    background: radial-gradient(circle at bottom, #aac1c7, #f7fbfb 80%) no-repeat center center fixed;
    background-size: cover;
  }
 
  
  section {
    width: 80vw;
    max-width: 64rem;
    min-width: 58.9rem;
    margin: 0 auto;
  }
  @media screen and (max-width: 480px) {
    section {
      min-width: 19rem;
    }
  }
  
  .title {
    font-size: 4rem;
    font-weight: 900;
    padding-top: 10vh;
  }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 3rem;
      text-align: center;
      position: relative;
      padding-top: 6vh;
    }
  }
  .title:after {
    content: "";
    display: block;
    height: .3rem;
    width: 5.4rem;
    background-color: #fbcd8a;
    -webkit-transform: translate(0.3rem, 2rem);
            transform: translate(0.3rem, 2rem);
  }
  @media screen and (max-width: 480px) {
    .title:after {
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, 2rem);
              transform: translate(-50%, 2rem);
    }
  }
  
  .cards {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 480px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .card {
    width: 19rem;
    height: 22.5rem;
    background-color: #f9fbfb;
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #5a6c7a;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05rem;
    box-shadow: 1rem 1rem 3rem royalblue;
  }
  @media only screen and (max-width: 480px) {
    .card {
      margin-bottom: 2rem;
    }
  }
  .card__svg-container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .card__svg-wrapper {
    width: 8rem;
  }
  .card__count-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
  }
  .card__count-text {
    -webkit-transform: translate(0, -0.5rem);
            transform: translate(0, -0.5rem);
  }
  .card__count-text--big {
padding-bottom: 20%;
  }
  .card__stuff-container {
    margin: 0 auto;
    width: 90%;
    height: 15%;
    border-top: 2px solid #e7edef;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__stuff-icon, .card__stuff-text {
    display: inline-block;
  }
  .card__stuff-icon {
    width: 1.3rem;
    height: 1.3rem;
    -webkit-transform: translate(0, -0.3rem);
            transform: translate(0, -0.3rem);
  }
  .card__stuff-text {
    text-transform: uppercase;
    margin-left: .4rem;
    -webkit-transform: translate(0, -0.2rem);
            transform: translate(0, -0.2rem);
  }
  
  .card{} 
  .card--oil:hover {
    transform: scale(1.2); 
    transition: all .5s ease-in-out; 
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            box-shadow: 1rem 1rem 3rem greenyellow;
  }
  .card--tree:hover {
    transform: scale(1.2); 
    transition: all .5s ease-in-out; 
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            box-shadow: 1rem 1rem 3rem greenyellow;

  }.card--water:hover {
    transform: scale(1.2); 
    transition: all .5s ease-in-out; 
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            box-shadow: 1rem 1rem 3rem greenyellow;
  }
 